.list-features {
  display: inline-block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    text-align: center;
    margin: 15px;
    width: 480px;
    @media screen and (min-width: 768px) {
      text-align: start;
      width: calc((100% - 4 * 15px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }
}
