.filter {
  padding-bottom: 0px;
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
}
.works {
  padding-top: 0;
}
.list-filter {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .item:not(:last-child) {
    margin-right: 8px;
  }
}
.portfolio-title {
  margin: 0;
  padding: 0;
}
.button-portfolio {
  display: inline-block;
  margin-bottom: 15px;
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: $ttl-text-color;
  background-color: $second-bcg-color;
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $pr-wht-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
/* Портфолио Список работ */
.list-works {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 3);
      margin-right: 30px;
      margin-bottom: 30px;
      .item:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
      .item:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
.list-works-link {
  display: block;
  margin: 0;
  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  &:hover .descr-list {
    transform: translateY(0);
    opacity: 1;
  }
}
.works-thumb {
  position: relative;
  overflow: hidden;
  .descr-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 64px 23px 64px 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: $pr-wht-color;
    background: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transform: translateY(100%);
    transform-origin: bottom center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.works-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $pr-wht-color;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
  .works-title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $ttl-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .work-name {
    display: block;
    margin-top: 0;
    margin-bottom: 0;

    color: $pr-text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}
