$pr-wht-color: #ffffff;
$pr-text-color: #757575;
$accent-color: #2196f3;
$ttl-text-color: #212121;
$second-bcg-color: #f5f4fa;
$footer-bcg-color: #2f303a;
$border-color: #ececec;
$icon-color: #afb1b8;
